typer>=0.12.3
rich>=13.7.1
llama-index>=0.11.0
llama-index-llms-ollama>=0.3.0
llama-index-embeddings-huggingface>=0.3.1
llama-index-vector-stores-chroma>=0.2.0
chromadb>=0.5.5
sentence-transformers>=3.0.1
colormath>=3.0.0
pydantic>=2.8.2
python-dateutil>=2.9.0.post0
pytest>=8.3.2
